.navbar-default {
	background-color: #fbcf2f;
	padding: 0px;
	border-bottom: 0px;
}

.logged-in {
	margin-top: -2px;
	margin-bottom: -2px;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background-color: inherit;
}

.sidebar-block {
	width: 20%;
}

.with-sidebar {
	width: 80%;
}

.sidebar-item a {
	text-transform: uppercase;
}

.navbar-default .navbar-nav > li > a, .navbar-brand {
    color: #000 !important;
	text-transform: uppercase;
	font-size: 12px;
}

.btn-primary, .btn-primary:hover, .btn-primary:focus {
	background-color: #18a55b;
	border-color: #18a55b;
}

.screenshot {
    border: 1px solid #d1d8dd;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.15);
    margin: 8px 0px;
    max-width: 100%;
}