 @import url('https://fonts.googleapis.com/css?family=Open+Sans');
 @import url('https://fonts.googleapis.com/css?family=Merriweather:300,400');

 body {
	 font-family: "Open Sans";
 }

 article {
	 line-height: 1.9;
	 letter-spacing: 0.01em;
 }

.navbar-default {
	border-top: 1px solid #18a55b;
	border-bottom: 1px solid #18a55b !important;
	/*background-color: #fbcf2f;*/
	padding: 4px 0px;
}

.logged-in {
	margin-top: -2px;
	margin-bottom: -2px;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background-color: inherit;
}

.sidebar-block {
	width: 20%;
}

.with-sidebar {
	width: 80%;
}

.sidebar-item a {
	text-transform: uppercase;
	letter-spacing: 0.015em;
}

.navbar-default .navbar-nav > li > a, .navbar-brand {
    color: #000 !important;
	text-transform: uppercase;
	 letter-spacing: 0.01em;
	font-size: 12px;
}

.btn-primary, .btn-primary:hover, .btn-primary:focus {
	background-color: #18a55b;
	border-color: #18a55b;
}

.sidebar-block {
    border-right: 1px solid #18a55b;
}

.web-footer {
    border-top: 1px solid #18a55b;
}

.screenshot {
    border: 1px solid #d1d8dd;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.15);
    margin: 8px 0px;
    max-width: 100%;
}

.web-page-content, .blog-text, .post-description {
	font-family: 'Merriweather';
	font-weight: 300;
	font-size: 16px;
}

.page-content h1 {
	font-weight: 600;
	font-size: 32px;
	padding-top: 30px;
}

.blog-list-item h2 {
	font-weight: 600;
}